.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footersty {
    background-color: brown;
    margin: 0px auto;
    padding: 20 0 20 0;
    color:burlywood;
}
.jumbotron{
    padding: 70px 30px 70px 30px ;
    margin: 0px auto ;
    background-color: brown;
    color:burlywood;
}
.address{
font-size: 80%;
margin: 0px;
color:  black;
}
.contcol{
    background-color: burlywood;
    color:brown;
}
body{
    padding: 31px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: darkred;
    color:blanchedalmond;
}
.thumbnail {
    background: rgb(190, 124, 0);
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:burlywood;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselCont {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.modal .modal-header{
    background-color: black;
    color:floralwhite;
}
.modal .modal-body{
    background-color: gray;
    color:floralwhite;
}
.modal .modal-header .close{
    color:green;
}